
@{
    ViewBag.Title = "Shedule";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="raspisan">
    <div class="vidraspisan"><center><p style="margin-top: -5px;">Групповые занятия</p></center></div>


    <center>
    <div id="Schedule">
        <table cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <td />
                    <td class='d0'>
                        <div>
                            Понедельник
                        </div>
                    </td>
                    <td class='d1'>
                        <div>
                            Вторник
                        </div>
                    </td>
                    <td class='d2'>
                        <div>
                            Среда
                        </div>
                    </td>
                    <td class='d3'>
                        <div>
                            Четверг
                        </div>
                    </td>
                    <td class='d4'>
                        <div>
                            Пятница
                        </div>
                    </td>
                    <td class='d5'>
                        <div>
                            Суббота
                        </div>
                    </td>
                    <td class='d6'>
                        <div>
                            Воскресение
                        </div>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr class='h7'>
                    <td>
                        <div>
                            07:00
                        </div>
                    </td>

                    <td class='d0'>
                        <div>

                        </div>
                    </td>
                    <td class='d1'>
                        <div>

                        </div>
                    </td>
                    <td class='d2'>

                        <div>

                        </div>
                    </td>
                    <td class='d3'>
                        <div>
                        </div>
                    </td>
                    <td class='d4'>
                        <div>

                        </div>
                    </td>
                    <td class='d5'>
                        <div>
                        </div>
                    </td>
                    <td class='d6'>
                        <div>
                        </div>

                    </td>
                </tr>
                <tr class='h8'>
                    <td>
                        <div>
                            08:00
                        </div>
                    </td>
                    <td class='d0'>

                        <div>

                        </div>
                    </td>
                    <td class='d1'>
                        <div>
                        </div>
                    </td>
                    <td class='d2'>
                        <div>

                        </div>
                    </td>
                    <td class='d3'>
                        <div>
                        </div>
                    </td>
                    <td class='d4'>
                        <div>

                        </div>

                    </td>
                    <td class='d5'>
                        <div>

                        </div>
                    </td>
                    <td class='d6'>
                        <div>
                        </div>
                    </td>

                </tr>


                <tr class='h9'>
                    <td class=''>
                        <div>
                            09:00
                        </div>

                    </td>
                    <td class='d0'>
                        <div>
                        </div>
                    </td>
                    <td class='d1'>
                        <div>
                        </div>
                    </td>

                    <td class='d2'>
                        <div>

                        </div>
                    </td>
                    <td class='d3'>
                        <div>
                        </div>
                    </td>
                    <td class='d4'>

                        <div>
                        </div>
                    </td>
                    <td class='d5'>
                        <div>

                        </div>
                    </td>
                    <td class='d6'>
                        <div>

                        </div>
                    </td>
                </tr>
                <tr class='h10'>
                    <td>
                        <div>
                            10:00
                        </div>
                    </td>
                    <td class='d0'>

                        <div>
                        </div>
                    </td>
                    <td class='d1'>
                        <div>

                        </div>
                    </td>
                    <td class='d2'>
                        <div>

                        </div>
                    </td>
                    <td class='d3'>
                        <div>
                        </div>
                    </td>
                    <td class='d4'>
                        <div>
                        </div>

                    </td>
                    <td class='d5'>
                        <div>
                        </div>
                    </td>
                    <td class='d6'>
                        <div>
                        </div>
                    </td>

                </tr>



                <tr class='h11'>
                    <td>
                        <div>
                            11:00
                        </div>
                    </td>
                    <td class='d0'>

                        <div>
                        </div>
                    </td>
                    <td class='d1'>
                        <div>
                        </div>
                    </td>
                    <td class='d2'>
                        <div>

                        </div>
                    </td>
                    <td class='d3'>
                        <div>

                        </div>
                    </td>
                    <td class='d4'>
                        <div>

                        </div>

                    </td>
                    <td class='d5'>
                        <div>
                        </div>
                    </td>
                    <td class='d6'>
                        <div>

                        </div>
                    </td>

                </tr>

                <tr class='h12'>
                    <td>
                        <div>
                            12:00
                        </div>
                    </td>
                    <td class='d0'>

                        <div>
                        </div>
                    </td>
                    <td class='d1'>
                        <div>
                        </div>
                    </td>
                    <td class='d2'>
                        <div>

                        </div>
                    </td>
                    <td class='d3'>
                        <div>

                        </div>
                    </td>
                    <td class='d4'>
                        <div>
                        </div>

                    </td>
                    <td class='d5'>
                        <div>
                        </div>
                    </td>
                    <td class='d6'>
                        <div>
                        </div>
                    </td>

                </tr>


                <tr class='h13'>
                    <td>
                        <div>
                            13:00
                        </div>
                    </td>
                    <td class='d0'>

                        <div>
                        </div>
                    </td>
                    <td class='d1'>
                        <div>
                        </div>
                    </td>
                    <td class='d2'>
                        <div>

                        </div>
                    </td>
                    <td class='d3'>
                        <div>

                        </div>
                    </td>
                    <td class='d4'>
                        <div>
                        </div>

                    </td>
                    <td class='d5'>
                        <div>
                        </div>
                    </td>
                    <td class='d6'>
                        <div>
                        </div>
                    </td>

                </tr>



                <tr class='h14'>
                    <td>
                        <div>
                            14:00
                        </div>
                    </td>
                    <td class='d0'>

                        <div>

                        </div>
                    </td>
                    <td class='d1'>
                        <div>

                        </div>
                    </td>
                    <td class='d2'>
                        <div>

                        </div>
                    </td>
                    <td class='d3'>
                        <div>
                        </div>
                    </td>
                    <td class='d4'>
                        <div>

                        </div>

                    </td>
                    <td class='d5'>
                        <div>
                        </div>
                    </td>
                    <td class='d6'>
                        <div>
                        </div>
                    </td>

                </tr>



                <tr class='h15'>
                    <td>
                        <div>
                            15:00
                        </div>
                    </td>
                    <td class='d0'>

                        <div>
                        </div>
                    </td>
                    <td class='d1'>
                        <div>
                        </div>
                    </td>
                    <td class='d2'>
                        <div>

                        </div>
                    </td>
                    <td class='d3'>
                        <div>
                        </div>
                    </td>
                    <td class='d4'>
                        <div>
                        </div>

                    </td>
                    <td class='d5'>
                        <div>
                        </div>
                    </td>
                    <td class='d6'>
                        <div>
                        </div>
                    </td>

                </tr>


                <tr class='h16'>
                    <td>
                        <div>
                            16:00
                        </div>
                    </td>
                    <td class='d0'>

                        <div>

                        </div>
                    </td>
                    <td class='d1'>
                        <div>

                        </div>
                    </td>
                    <td class='d2'>
                        <div>

                        </div>
                    </td>
                    <td class='d3'>
                        <div>
                        </div>
                    </td>
                    <td class='d4'>
                        <div>

                        </div>

                    </td>
                    <td class='d5'>
                        <div>

                        </div>
                    </td>
                    <td class='d6'>
                        <div>
                        </div>
                    </td>

                </tr>


                <tr class='h17'>
                    <td>
                        <div>
                            17:00
                        </div>
                    </td>
                    <td class='d0'>

                        <div>
                        </div>
                    </td>
                    <td class='d1'>
                        <div>
                        </div>
                    </td>
                    <td class='d2'>
                        <div>

                        </div>
                    </td>
                    <td class='d3'>
                        <div>
                        </div>
                    </td>
                    <td class='d4'>
                        <div>
                        </div>

                    </td>
                    <td class='d5'>
                        <div>
                        </div>
                    </td>
                    <td class='d6'>
                        <div>
                        </div>
                    </td>

                </tr>
                <tr class='h18'>
                    <td>
                        <div>
                            18:00
                        </div>
                    </td>
                    <td class='d0'>

                        <div>
                        </div>
                    </td>
                    <td class='d1'>
                        <div>
                        </div>
                    </td>
                    <td class='d2'>
                        <div>

                        </div>
                    </td>
                    <td class='d3'>
                        <div>
                        </div>
                    </td>
                    <td class='d4'>
                        <div>
                        </div>

                    </td>
                    <td class='d5'>
                        <div>
                        </div>
                    </td>
                    <td class='d6'>
                        <div>
                        </div>
                    </td>

                </tr>

                <tr class='h19'>
                    <td>
                        <div>
                            19:00
                        </div>
                    </td>
                    <td class='d0'>

                        <div>
                        </div>
                    </td>
                    <td class='d1'>
                        <div>
                        </div>
                    </td>
                    <td class='d2'>
                        <div>

                        </div>
                    </td>
                    <td class='d3'>
                        <div>
                        </div>
                    </td>
                    <td class='d4'>
                        <div>
                        </div>

                    </td>
                    <td class='d5'>
                        <div>
                        </div>
                    </td>
                    <td class='d6'>
                        <div>
                        </div>
                    </td>

                </tr>

                <tr class='h20'>
                    <td>
                        <div>
                            20:00
                        </div>
                    </td>
                    <td class='d0'>

                        <div>

                        </div>
                    </td>
                    <td class='d1'>
                        <div>
                        </div>
                    </td>
                    <td class='d2'>
                        <div>

                        </div>
                    </td>
                    <td class='d3'>
                        <div>
                        </div>
                    </td>
                    <td class='d4'>
                        <div>
                        </div>

                    </td>
                    <td class='d5'>
                        <div>
                        </div>
                    </td>
                    <td class='d6'>
                        <div>
                        </div>
                    </td>

                </tr>

                <tr class='h21'>
                    <td>
                        <div>
                            21:00
                        </div>
                    </td>
                    <td class='d0'>

                        <div>
                        </div>
                    </td>
                    <td class='d1'>
                        <div>
                        </div>
                    </td>
                    <td class='d2'>
                        <div>

                        </div>
                    </td>
                    <td class='d3'>
                        <div>
                        </div>
                    </td>
                    <td class='d4'>
                        <div>
                        </div>

                    </td>
                    <td class='d5'>
                        <div>
                        </div>
                    </td>
                    <td class='d6'>
                        <div>
                        </div>
                    </td>

                </tr>


            </tbody>
        </table>

        </center>
    </div>
    <div class="raspisan2">
        <div class="vidraspisan"><center><p style="margin-top: -5px;">Боевые искусства</p></center></div>
        <center>
        <div id="Schedule">
            <table cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <td />
                        <td class='d0'>
                            <div>
                                Понедельник
                            </div>
                        </td>
                        <td class='d1'>
                            <div>
                                Вторник
                            </div>
                        </td>
                        <td class='d2'>
                            <div>
                                Среда
                            </div>
                        </td>
                        <td class='d3'>
                            <div>
                                Четверг
                            </div>
                        </td>
                        <td class='d4'>
                            <div>
                                Пятница
                            </div>
                        </td>
                        <td class='d5'>
                            <div>
                                Суббота
                            </div>
                        </td>
                        <td class='d6'>
                            <div>
                                Воскресение
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr class='h7'>
                        <td>
                            <div>
                                07:00
                            </div>
                        </td>

                        <td class='d0'>
                            <div>
                            </div>
                        </td>
                        <td class='d1'>
                            <div>
                            </div>
                        </td>
                        <td class='d2'>

                            <div>
                            </div>
                        </td>
                        <td class='d3'>
                            <div>
                            </div>
                        </td>
                        <td class='d4'>
                            <div>

                            </div>
                        </td>
                        <td class='d5'>
                            <div>
                            </div>
                        </td>
                        <td class='d6'>
                            <div>
                            </div>

                        </td>
                    </tr>
                    <tr class='h8'>
                        <td>
                            <div>
                                08:00
                            </div>
                        </td>
                        <td class='d0'>

                            <div>
                            </div>
                        </td>
                        <td class='d1'>
                            <div>
                            </div>
                        </td>
                        <td class='d2'>
                            <div>

                            </div>
                        </td>
                        <td class='d3'>
                            <div>
                            </div>
                        </td>
                        <td class='d4'>
                            <div>
                            </div>

                        </td>
                        <td class='d5'>
                            <div>
                            </div>
                        </td>
                        <td class='d6'>
                            <div>
                            </div>
                        </td>

                    </tr>


                    <tr class='h9'>
                        <td class=''>
                            <div>
                                09:00
                            </div>

                        </td>
                        <td class='d0'>
                            <div>
                            </div>
                        </td>
                        <td class='d1'>
                            <div>
                            </div>
                        </td>

                        <td class='d2'>
                            <div>
                            </div>
                        </td>
                        <td class='d3'>
                            <div>
                            </div>
                        </td>
                        <td class='d4'>

                            <div>
                            </div>
                        </td>
                        <td class='d5'>
                            <div>
                            </div>
                        </td>
                        <td class='d6'>
                            <div>

                            </div>
                        </td>
                    </tr>
                    <tr class='h10'>
                        <td>
                            <div>
                                10:00
                            </div>
                        </td>
                        <td class='d0'>

                            <div>
                            </div>
                        </td>
                        <td class='d1'>
                            <div>
                            </div>
                        </td>
                        <td class='d2'>
                            <div>

                            </div>
                        </td>
                        <td class='d3'>
                            <div>
                            </div>
                        </td>
                        <td class='d4'>
                            <div>
                            </div>

                        </td>
                        <td class='d5'>
                            <div>
                            </div>
                        </td>
                        <td class='d6'>
                            <div>
                            </div>
                        </td>

                    </tr>



                    <tr class='h11'>
                        <td>
                            <div>
                                11:00
                            </div>
                        </td>
                        <td class='d0'>

                            <div>
                            </div>
                        </td>
                        <td class='d1'>
                            <div>
                            </div>
                        </td>
                        <td class='d2'>
                            <div>

                            </div>
                        </td>
                        <td class='d3'>
                            <div>
                            </div>
                        </td>
                        <td class='d4'>
                            <div>
                            </div>

                        </td>
                        <td class='d5'>
                            <div>
                            </div>
                        </td>
                        <td class='d6'>
                            <div>
                            </div>
                        </td>

                    </tr>

                    <tr class='h12'>
                        <td>
                            <div>
                                12:00
                            </div>
                        </td>
                        <td class='d0'>

                            <div>
                            </div>
                        </td>
                        <td class='d1'>
                            <div>
                            </div>
                        </td>
                        <td class='d2'>
                            <div>

                            </div>
                        </td>
                        <td class='d3'>
                            <div>
                            </div>
                        </td>
                        <td class='d4'>
                            <div>
                            </div>

                        </td>
                        <td class='d5'>
                            <div>
                            </div>
                        </td>
                        <td class='d6'>
                            <div>
                            </div>
                        </td>

                    </tr>


                    <tr class='h13'>
                        <td>
                            <div>
                                13:00
                            </div>
                        </td>
                        <td class='d0'>

                            <div>
                            </div>
                        </td>
                        <td class='d1'>
                            <div>
                            </div>
                        </td>
                        <td class='d2'>
                            <div>

                            </div>
                        </td>
                        <td class='d3'>
                            <div>
                            </div>
                        </td>
                        <td class='d4'>
                            <div>
                            </div>

                        </td>
                        <td class='d5'>
                            <div>
                            </div>
                        </td>
                        <td class='d6'>
                            <div>
                            </div>
                        </td>

                    </tr>



                    <tr class='h14'>
                        <td>
                            <div>
                                14:00
                            </div>
                        </td>
                        <td class='d0'>

                            <div>
                            </div>
                        </td>
                        <td class='d1'>
                            <div>
                            </div>
                        </td>
                        <td class='d2'>
                            <div>

                            </div>
                        </td>
                        <td class='d3'>
                            <div>
                            </div>
                        </td>
                        <td class='d4'>
                            <div>
                            </div>

                        </td>
                        <td class='d5'>
                            <div>
                            </div>
                        </td>
                        <td class='d6'>
                            <div>
                            </div>
                        </td>

                    </tr>



                    <tr class='h15'>
                        <td>
                            <div>
                                15:00
                            </div>
                        </td>
                        <td class='d0'>

                            <div>
                            </div>
                        </td>
                        <td class='d1'>
                            <div>
                            </div>
                        </td>
                        <td class='d2'>
                            <div>

                            </div>
                        </td>
                        <td class='d3'>
                            <div>
                            </div>
                        </td>
                        <td class='d4'>
                            <div>
                            </div>

                        </td>
                        <td class='d5'>
                            <div>
                            </div>
                        </td>
                        <td class='d6'>
                            <div>
                            </div>
                        </td>

                    </tr>


                    <tr class='h16'>
                        <td>
                            <div>
                                16:00
                            </div>
                        </td>
                        <td class='d0'>

                            <div>
                            </div>
                        </td>
                        <td class='d1'>
                            <div>
                            </div>
                        </td>
                        <td class='d2'>
                            <div>

                            </div>
                        </td>
                        <td class='d3'>
                            <div>
                            </div>
                        </td>
                        <td class='d4'>
                            <div>
                            </div>

                        </td>
                        <td class='d5'>
                            <div>
                            </div>
                        </td>
                        <td class='d6'>
                            <div>
                            </div>
                        </td>

                    </tr>


                    <tr class='h17'>
                        <td>
                            <div>
                                17:00
                            </div>
                        </td>
                        <td class='d0'>

                            <div>
                            </div>
                        </td>
                        <td class='d1'>
                            <div>
                            </div>
                        </td>
                        <td class='d2'>
                            <div>

                            </div>
                        </td>
                        <td class='d3'>
                            <div>
                            </div>
                        </td>
                        <td class='d4'>
                            <div>
                            </div>

                        </td>
                        <td class='d5'>
                            <div>
                            </div>
                        </td>
                        <td class='d6'>
                            <div>
                            </div>
                        </td>

                    </tr>
                    <tr class='h18'>
                        <td>
                            <div>
                                18:00
                            </div>
                        </td>
                        <td class='d0'>

                            <div>
                            </div>
                        </td>
                        <td class='d1'>
                            <div>
                            </div>
                        </td>
                        <td class='d2'>
                            <div>

                            </div>
                        </td>
                        <td class='d3'>
                            <div>
                            </div>
                        </td>
                        <td class='d4'>
                            <div>
                            </div>

                        </td>
                        <td class='d5'>
                            <div>
                            </div>
                        </td>
                        <td class='d6'>
                            <div>
                            </div>
                        </td>

                    </tr>

                    <tr class='h19'>
                        <td>
                            <div>
                                19:00
                            </div>
                        </td>
                        <td class='d0'>

                            <div>
                            </div>
                        </td>
                        <td class='d1'>
                            <div>
                            </div>
                        </td>
                        <td class='d2'>
                            <div>

                            </div>
                        </td>
                        <td class='d3'>
                            <div>
                            </div>
                        </td>
                        <td class='d4'>
                            <div>
                            </div>

                        </td>
                        <td class='d5'>
                            <div>
                            </div>
                        </td>
                        <td class='d6'>
                            <div>
                            </div>
                        </td>

                    </tr>

                    <tr class='h20'>
                        <td>
                            <div>
                                20:00
                            </div>
                        </td>
                        <td class='d0'>

                            <div>
                            </div>
                        </td>
                        <td class='d1'>
                            <div>
                            </div>
                        </td>
                        <td class='d2'>
                            <div>

                            </div>
                        </td>
                        <td class='d3'>
                            <div>
                            </div>
                        </td>
                        <td class='d4'>
                            <div>
                            </div>

                        </td>
                        <td class='d5'>
                            <div>
                            </div>
                        </td>
                        <td class='d6'>
                            <div>
                            </div>
                        </td>

                    </tr>

                    <tr class='h21'>
                        <td>
                            <div>
                                21:00
                            </div>
                        </td>
                        <td class='d0'>

                            <div>
                            </div>
                        </td>
                        <td class='d1'>
                            <div>
                            </div>
                        </td>
                        <td class='d2'>
                            <div>

                            </div>
                        </td>
                        <td class='d3'>
                            <div>
                            </div>
                        </td>
                        <td class='d4'>
                            <div>
                            </div>

                        </td>
                        <td class='d5'>
                            <div>
                            </div>
                        </td>
                        <td class='d6'>
                            <div>
                            </div>
                        </td>

                    </tr>


                </tbody>
            </table>

            </center>
        </div>
        </div>
        