@{
    ViewBag.Title = "Body & Mind";
    Layout = "~/Views/Shared/_ServicesLayout.cshtml";
}

<div class="nazuslug">
    <center><p style="margin-top:0px;font-family:Coronetscript, cursive ;font-size: 22pt;color: #fff;">Body&Mind</p></center>
</div>
<div class="opisanuslug">
    <style>
        p:first-letter {
            color: #FF0000;
            margin-left: 5px;
            font: normal 30pt Georgia;
        }
    </style>
    <div class="cvet"><p>Что же в настоящее время относится к практике Body&Mind Fitness?</p><p>Сегодня в эту категорию фитнеса входят различные виды йоги, пилатеса, цигун, метод Фельденкрайза. Почему же сюда не включены бег, бокс, или же иные силовые тренировки?</p><p>Дело в том, что неотъемлемым элементом практики Body&Mind Fitness является не столько банальное наращивание мышечной массы, сколько достижение духовной гармонии с самим собой.</p></div>
</div>