@{
    ViewBag.Title = "Кардио";
    Layout = "~/Views/Shared/_ServicesLayout.cshtml";
}

<div class="nazuslug">
    <center><p style="margin-top:0px;font-family:Coronetscript, cursive ;font-size: 22pt;color: #fff;">Кардио</p></center>
</div>
<div class="opisanuslug">
    <style>
        p:first-letter {
            color: #FF0000;
            margin-left: 5px;
            font: normal 30pt Georgia;
        }
    </style>
    <div class="cvet"><p>Кардио упражнения являются аэробными (в присутствии кислорода), продолжаются дольше 90 секунд, а во время их выполнения происходит рост частоты сердечных сокращений (ЧСС) относительно ее уровня в состоянии покоя.</p><p>Только на 15 минут занятий организм расходует не меньше 130 ккал, а то и больше в зависимости от интенсивности тренировки.</p><p>Кардио упражнения для похудения отлично разгоняют и ускоряют метаболизм, что дает незамедлительный эффект в виде ушедших лишних килограмм.</p></div>
</div>