@{
    ViewBag.Title = "Услуги";
    Layout = "~/Views/Shared/_ServicesLayout.cshtml";
}

<div class="nazuslug">
    <center><p style="margin-top:0px;font-family:Georgia, cursive ;font-size: 22pt;color: #fff;">Тренажерный зал</p></center>
</div>
<div class="opisanuslug">
    <style>
        p:first-letter {
            color: #FF0000;
            margin-left: 5px;
            font: normal 30pt Georgia;
        }
    </style>
    <div class="cvet"><p>Вас заботит Ваше здоровье? Хотите быть стройными, красивыми, иметь подтянутую фигуру и  правильную осанку? Наш фитнес-центр ждет Вас! Занятия в тренажерном зале помогут Вам добиться желаемого результата.</p><p>Регулярные тренировки в тренажерном зале играют важную роль для поддержания Вашей фигуры в отличной форме и  сохранения привлекательной внешности.</p><p>Посредством воздействия на разные группы мышц, формируется эстетически привлекательная фигура, поэтому наш тренажерный зал оснащен различными видами тренажеров для каждой группы мышц.</p></div>
</div>