
@{
    ViewBag.Title = "Услуги";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<center><img style="margin-top: 130px;" src="@Url.Content("~/Content/Images/Services/rekuslug.jpg")" alt="reklama" width="882" height="284"></center>

<div class="uslugi">
    <ul class="main-menu">
        <p style="margin-left: 100px;font-family:Coronetscript, cursive ;font-size: 19pt;color: #fff;">Услуги</p>
        <li><a style="font-family:Coronetscript; font-size: 17pt;" href="~/Services/Services.cshtml">Тренажерный зал</a></li>
        <li>
            <a style="font-size: 17pt" ; href="">Групповые занятия</a>
            <ul class="sub-menu">
                <li><a href="~/Views/Services/Body.cshtml">Body&Mind</a></li>
                <li><a>Силовые</a></li>
                <li><a href="~/Views/Services/Cardio.cshtml">Кардио</a></li>
            </ul>
        <li><a style="font-size: 17pt" ; href="">Боевые искуства</a></li>
        <ul class="sub-menu">
            <li><a href="~/Views/Services/Karate.cshtml">Каратэ</a></li>
            <li><a href="~/Views/Services/Taybok.cshtml">Тайский бокс</a></li>
            <li><a href="#3">Ушу</a></li>
            <li><a href="#3">Бокс</a></li>
        </ul>
        <li><a style="font-size: 17pt" ; href="">Душевые и сауна</a></li>
        <li><a style="font-size: 17pt" ; href="">Бассейн</a></li>
    </ul>
</div>
<div class="nazuslug">
    <center><p style="margin-top:0px;font-family:Georgia, cursive ;font-size: 22pt;color: #fff;">Тренажерный зал</p></center>
</div>
<div class="opisanuslug">
    <style>
        p:first-letter {
            color: #FF0000;
            margin-left: 5px;
            font: normal 30pt Georgia;
        }
    </style>
    <div class="cvet"><p>Вас заботит Ваше здоровье? Хотите быть стройными, красивыми, иметь подтянутую фигуру и  правильную осанку? Наш фитнес-центр ждет Вас! Занятия в тренажерном зале помогут Вам добиться желаемого результата.</p><p>Регулярные тренировки в тренажерном зале играют важную роль для поддержания Вашей фигуры в отличной форме и  сохранения привлекательной внешности.</p><p>Посредством воздействия на разные группы мышц, формируется эстетически привлекательная фигура, поэтому наш тренажерный зал оснащен различными видами тренажеров для каждой группы мышц.</p></div>
</div>
<center>
    <div class="photos2">
        <div class="photouslug"><img src="@Url.Content("~/Content/Images/Services/Trenzal/1.jpg")"></div>
        <div class="photouslug"><img src="@Url.Content("~/Content/Images/Services/Trenzal/2.jpg")"></div>
        <div class="photouslug"><img src="@Url.Content("~/Content/Images/Services/Trenzal/3.JPG")"></div>
    </div>
</center>





<div class="down"></div>



