@{
    ViewBag.Title = "Кардио";
    Layout = "~/Views/Shared/_ServicesLayout.cshtml";
}

<div class="nazuslug">
    <center><p style="margin-top:0px;font-family:Coronetscript, cursive ;font-size: 22pt;color: #fff;">Карате</p></center>
</div>
<div class="opisanuslug">
    <style>
        p:first-letter {
            color: #FF0000;
            margin-left: 5px;
            font: normal 30pt Georgia;
        }
    </style>
    <div class="cvet"><p>Карате (также распространено написание каратэ, соответствующее русскому произношению; яп. 空手道 каратэ-до: «путь пустой руки» или 空手 каратэ [ka'ɽate] «пустая рука») — японское боевое искусство, система защиты и нападения.</p><p> В отличие от других единоборств Японии, (джиу-джитсу, дзюдо), которые предполагают борьбу, проведение разного рода бросков, удерживающих захватов и удушающих приёмов, в карате степень непосредственного контакта между участниками схватки минимальна, а для сокрушения противника используются точно нацеленные мощные удары руками и ногами, наносимые в жизненно важные точки его тела.</p></div>
</div>

