
@{
    ViewBag.Title = "FAQ";
}

<center>
    <div class="faq" style="background-color:white;">
        <center><h3>FAQ</h3></center>
        <h3 align="left">Сколько стоит клубная карта?</h3>
        <p align="left">Стоимость клубной карты на прямую зависит от вида карты и срока её действия и варьируется от 800 до 1200 рублей в месяц, а в период проведения специальных ценовых акций предусмотрины различные бонусы и скидки относительно базовых цен. Мы предлагаем множество различных вариантов посещения клуба, и нам необходимо подобрать именно такой, чтобы Вам было удобно, чтобы было интересно тренироваться, и Вы получили нужный Вам результат. Но сначала нам с Вами нужно убедиться, что Вам здесь нравиться и в клубе есть всё, что Вам необходимо. Вы сейчас как-то поддерживаете форму?</p>
        <h3 align="left">Почему на сайте не указаны цены на карты и услуги клуба?</h3>
        <p align="left">Мы считаем, что не совсем корректно судить о клубе, зная его расценки, но не видя его самого. Разве Вы покупаете платье не глядя? Вас не интересует цвет, фасон,ткань? Поэтому мы всем рекомендуем для начала прийти к нам, посмотреть на всё своими глазами, пообщаться с нашими консультантами и уже потом получить представление о ценах. Отдельно отметим, что у нас регулярно проводятся акции, о которых мы информируем в новостях на сайте.</p>
        <h3 align="left">Могу я купить у Вас абонемент в подарок другому человеку?</h3>
        <p align="left">Конечно, можете. Вы можете приобрести абонемент, а мы активируем его в тот момент, когда человек сам придет в клуб и посетит первое занятие - с этого момента начнётся отсчет срока действия карты. Таким, образом, ни один оплаченный день не пропадёт зря.</p>
        <h3 align="left">Зачем мне летом ходить в клуб?</h3>
        <p align="left">Если Ваш организм привык к определённой нагрузке и режиму тренировок, мы рекомендуем Вам продолжать занятия независимо от сезона. Действительно, летом хочется больше времени проводить на свежем воздухе. В связи с этим, наши инструкторы разработали специальные программы для занятий летом, позволяющие поддерживать форму с минимальными затратами времени. Наши инструктора с удовольствием поделятся с Вами секретом, как получить все летние удовольствия, при этом не теряя спортивной формы.</p>
        <h3 align="left">Могу ли я купить только персональные тренировки без абонемента?</h3>
        <p align="left">Приобретая дневной абонемент, Вы можете посещать клуб только в первой половине дня. Приобретая абонемент на полный день, Вы можете посещать клуб в любое время, в том числе самое востребованное-вечернее время.</p>

    </div>
</center>
<center>
    <div class="med">
        <img src="uslug/med.png" style="margin-left: -5%; margin-top: 50px;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2482.1006729580076!2d45.9755743158689!3d51.52971331689231!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4114c7000890260d%3A0xb69430fed1b7968c!2z0KHQsNGA0LDRgtC-0LLRgdC60LjQuSDQk9C-0YHRg9C00LDRgNGB0YLQstC10L3QvdGL0Lkg0KLQtdGF0L3QuNGH0LXRgdC60LjQuSDQo9C90LjQstC10YDRgdC40YLQtdGCINC40LzQtdC90Lgg0JPQsNCz0LDRgNC40L3QsCDQri4g0JAu!5e0!3m2!1sru!2sru!4v1494839905773" width="800" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</center>